.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 2fr;
    grid-template-areas: 
        "topnav"
        "search"
        "botnav";
}

.topnav {
    background: red;
    grid-area: topnav;
}

.search {
    grid-area: search;
}

.botnav {
    background: green;
    grid-area: botnav;
}



.responsive-img {
    max-width: 100%;
    height: auto;
}

.search-form {
    line-height: 400%;
    margin: auto;
    text-align: center;


    /* text-align: center;
    margin: 0;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.search-bar {
    width: 550px;
    border: 1px solid #d4d4d4;
    padding: 12px;
    border-radius: 50px;
}

button {
    font-size: 13.5px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}