* {
    font-family: Roboto, sans-serif;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.text-img {
    height: 1.5em;
}

a:hover{
    text-decoration: underline;
}

.search-button:hover{
    animation-name: outline;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}


@keyframes outline {
    0% {
        border: 1px solid #ffffff;
    }

    100% {
        border: 1px solid #c4c4c4;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}



/* header stuff */
.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 1vh;
    right: 1vw;
    width: 100%;
}
.header-li {
    float: right;
    font-size: 13px;
}
.header-li-a {
    display: block;
    text-align: center;
    color: #333333;
    padding: 14px 16px;
    text-decoration: none;
}

#sign-in-button {
    position: relative;
    background-color: #1a73e8;
    color: white;
    padding: 0.7em 1.75em 0.7em 1.75em;
    top: -0.7em;
}

/* Main content stuff */
.search-form {
    line-height: 400%;
    margin-top: 27vh;
    text-align: center;
}
.search-bar {
    width: 550px;
    border: 1px solid #d4d4d4;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    text-indent: 30px;
    background-color: white;
}

.lens {
    position: relative;
    top: 1vh;
    left: 40px;
}

.search-bar:hover {
    animation-name: outline;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}


button {
    font-size: 13.5px;
    background-color: #f7f7f7;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

/* footer stuff */

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}
.footer-li-left {
    float:left;
    font-size: 14px;
}
.footer-li-right {
    float:right;
    font-size: 14px;
}
.footer-li-a {
    display: block;
    text-align: center;
    color: #757575;
    padding: 14px 16px;
    text-decoration: none;
}